# PyTorch
torch>=1.0.0
tensorboardX
# torch=1.2.0+cu92
# torchvision=0.4.0+cu92
tqdm
pytorch-transformers=1.1.0
tensorboardX
scipy
scikit-learn

# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# For OpenAI GPT
regex
# For XLNet
sentencepiece